<div class="container">
    <section class=" about-me" style="margin-bottom: 150px;">
        <div class="img">
            <img src="./assets/images/hamed1.jpg" class="myImg">
        </div>
        <content class="content">
            <p class="fs-5 text-muted">Hello, I'm</p>
            <h1>Hamed Ajaj</h1>
            <h2 class="text-muted">Full-Stack developer</h2>
           <div class="btn d-flex">
            <button class="btn1 bg-light p-2 m-2 rounded-5">Download CV</button>
            <button class="btn2 bg-dark text-light p-2 m-2 rounded-5">Contact Info</button>
           </div>
        </content>
    </section>
    
    <section class="expereince row " style="margin-bottom: 150px;">
        <p class="col-lg-12 col-md-12 col-sm-12  text-center text-muted">Get To know More</p>
        <h3 class="collg-12 col-md-12 col-sm-12  text-center fs-1">About Me</h3>
        <img src="/assets/images/hamed3.jpg" class="img2 col-4 my-2 img-fluid">
       <div class="col-8">
        <div class="row d-flex justify-content-center ">
            <div class="col-lg-5 col-md-12 col-sm-12 exp fs-6 mx-1 my-1 justify-content-center d-flex flex-column align-items-center">
                <div class="icon fs-1"><i class="bi bi-patch-check-fill"></i></div>
                <p>Experience</p>
                <p> 1+ years</p>
                <p> Full-Stack Development</p>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 edu fs-6 mx-1 my-1 justify-content-center d-flex flex-column align-items-center">
                <div class="icon fs-1"><i class="bi bi-people-fill"></i></div>
                <p>Education</p>
                <p> B.Sc Bachelors Degree</p>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12 fs-6  text-muted my-2 text-break">Lorem ipsum dolor
                 sit amet consectetur adipisicing elit.
                  Numquam, suscipit consequatur.
                   Reiciendis maiores similique est, 
                   asperiores officiis suscipit facere 
                   reprehenderit optio architecto vitae
                    dolor vero officia rerum enim error quo.
            </div>
        </div>
       </div>
    
        <div></div>
    </section>
</div>